@import "tailwindcss";


@keyframes toast-slide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-toast-slide {
  animation: toast-slide 2.5s ease-in-out forwards;
}

