@import "tailwindcss";

/* Toast slide animation */
@keyframes toast-slide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  15% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

/* Toast slide animation */
.animate-toast-slide {
  animation: toast-slide 2.5s ease-in-out forwards;
}

/* Custom scrollbar styles */
.scrollbar-hidden {
  /* Modern browsers */
  scrollbar-width: none; /* Firefox */
  
  /* IE 10+ */
  -ms-overflow-style: none; 

  /* Very old Firefox fallback */
  overflow: -moz-scrollbars-none; 
}

/* Chrome, Safari, Opera, Edge (Chromium) */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

